h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: rgb(253, 152, 0);
}

canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%{
        box-shadow: 1px 1px 38px rgb(195, 233, 5);
    }
    20%{
        box-shadow: 1px 1px 38px rgb(228, 176, 7);
    }
    40%{
        box-shadow: 1px 1px 38px rgb(230, 140, 112);
    }
    60%{
        box-shadow: 1px 1px 38px rgb(237, 97, 15);
    }
    80%{
        box-shadow: 1px 1px 38px rgb(219, 54, 54);
    }
    100%{
        box-shadow: 1px 1px 38px rgb(246, 1, 1);
    }
}

